akka {  
    stdout-loglevel = Info
    loglevel = Info
    log-config-on-start = on        
    actor {
		provider = remote
        debug {  
              receive = on 
              autoreceive = on
              lifecycle = on
              event-stream = on
              unhandled = on
        }
		deployment {
              /scaners {
                remote = "akka.tcp://AggregatorSystem@127.0.0.1:8091"
              }
		
        }

    }

	remote {
		startup-timeout = 10 s
		dot-netty.tcp {
			port = 0
			hostname = 127.0.0.1
		}
	}
}