akka {  
    stdout-loglevel = DEBUG
    loglevel = DEBUG
    log-config-on-start = on        
    actor {
		provider = remote
        debug {  
              receive = on 
              autoreceive = on
              lifecycle = on
              event-stream = on
              unhandled = on
        }
		deployment {
              /scaner_asian {
                remote = "akka.tcp://ScanerSystem@127.0.0.1:8091"
              }
			  /scaner_greenFeed {
                remote = "akka.tcp://ScanerSystem@127.0.0.1:8091"
              }
        }

    }

	remote {
		dot-netty.tcp {
			port = 0
			hostname = 127.0.0.1
		}
	}
}